@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark: #272727;
	--primary-text: #747474;
	--primary: #ffe400;
	--secondary: #ff652f;
	--tertiary: #14a76c;
}

@layer components {
	.outline-primary {
		color: var(--dark);
		text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary),
			1px 1px 0 var(--primary);
	}
	.outline-secondary {
		color: var(--dark);
		text-shadow: -1px -1px 0 var(--secondary), 1px -1px 0 var(--secondary),
			-1px 1px 0 var(--secondary), 1px 1px 0 var(--secondary);
	}
	.outline-tertiary {
		color: var(--dark);
		text-shadow: -1px -1px 0 var(--tertiary), 1px -1px 0 var(--tertiary), -1px 1px 0 var(--tertiary),
			1px 1px 0 var(--tertiary);
	}
}

* {
	-webkit-font-smoothing: antialiased;
}

html {
	@apply bg-dark;
	font-size: 14px;
	color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
